.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.zero-data {
  flex-wrap: wrap;

  .image,
  .primary,
  .secondary {
    margin-bottom: 15px;
    max-width: 100%;
  }

  .margin-horizontal-16 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

.justify-center {
  justify-content: center;
}

.zero-data.single .zero-data-item {
  max-width: 520px;
  min-width: 10px;
}

.flex-center {
  align-items: center;
}
